* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  @media screen and (max-width:480px){
 /* carousel start */
header .tophead{
  display:none;
}
.navbar-brand img{
  height:30px;
}
 .carousel-caption {
  position: absolute;
  top:0%;
  }
 #carousel-div  #cap{
  font-size:7px;
}
#carousel-div  #text{
  font-size:7px;
  font-weight:0;
  letter-spacing: 0px;
  line-height:18px;
}
#carousel-div .hire-expert-btn{
border-radius:10px;
padding:0px 0px;
width:150px;
height:40px;
margin-bottom:10px;
}
.carousel-control-prev ,.carousel-control-next{
  height:30px;
  width:30px;
}
/* about us start */
/* @media screen and (max-width:480px)
{
    .breadcrumbsection{
      position:absolute;
        top:5%;
        left:40%;
    }
} */
/* about us end */
  }
  @media screen and (max-width:767px){
    /* header #tophead{
      height:20px;
      line-height:10px;
      padding-top:5px;
    
        } */
    .navbar-brand img{
      height:30px;
    }
    /* carousel start */

    #carousel-div  #cap{
      font-size:10px;
      line-height:10px;
  }
  #carousel-div  #text{
      font-size:20px;
      font-weight:400;
      letter-spacing: 0.2px;
  }
  #carousel-div .hire-expert-btn{
  border-radius:10px;
  padding:0px 5px;
  width:150px;
  }
  .carousel-caption {
top:30%;
}
      /* carousel end */

      
  }
 
  @media screen and (max-width:992px){
   /* tophead start */
   header #tophead{
    height:40px;
    line-height:10%;
    padding-top:10px;
  
      } 
          header  #contact-details span{
          font-size: 10px;
          display:inline-block;
          line-height:10%;;
          }
          header #buttons ul li button{
        font-size:10px;
        border-radius:10px;
        width:50px;
        line-height:10px;
          }
          header #contact-us li a{
            font-size:8px;
            font-weight: bold;
          }
  
/* tophead end */

    #carousel-div  #cap{
      font-size:20px;
      line-height:10px;
  }
  #carousel-div  #text{
      font-size:25px;
      font-weight:600;
  }
  #carousel-div .hire-expert-btn{
  border-radius:20px;
  padding:10px 5px;
  width:150px;
  }
  .carousel-caption {
top:30%;
}
  }
 